<section id="container" class="">
    <aside>
          <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
              <li class="active">
                <a class="" href="/profile">
                              <i class="icon_house_alt"></i>
                              <span>Dashboard</span>
                          </a>
              </li>
              <li class="sub-menu">
                <a href="/mystory" class="">
                              <i class="icon_documents_alt"></i>
                              <span>My STORY</span>
                              {{!-- <span class="menu-arrow arrow_carrot-right"></span> --}}
                          </a>            
              </li>
              <li class="sub-menu">
                <a href="/publicStories" class="">
                              <i class="fa fa-users"></i>
                              <span>People's Stories</span>
                              {{!-- <span class="menu-arrow arrow_carrot-right"></span> --}}
                          </a>
              
              </li>

            </ul>
            <!-- sidebar menu end-->
          </div>
        </aside>
</section>