{{> header}}
{{> userNav}}
<section id="main-content">
      <section class="wrapper">
        <!--overview start-->
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i>Welcome to User Dashboard</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-laptop"></i>Dashboard</li>
            </ol>
          </div>
        </div>
      </section>
     
        <div class="col-lg-6">
            <section class="panel">
              <header class="panel-heading">
                New Story
              </header>
              <div class="panel-body">
                <form role="form" method="POST" action="/newStory">
                  <div class="form-group">
                    <label for="exampleInputEmail1">StoryText</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="storyText" placeholder="Enter Story">
                    <input type="text" id="exampleInputEmail1"  value="{{user._id}}" name="userID" hidden>
                    <input type="text" id="creatorName"  value="{{user.username}}" name="creatorName" hidden>
                  </div>
                  <div class="checkbox">
                    <label>
                    {{!-- <input type='hidden' value='public' name="checkbox"> --}}
                    <input type="checkbox" value="private" name="checkbox" > Private</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Publish</button>
                  <a href="/mystory"><button type="button"  class="btn btn-danger">Cancel</button></a>
                </form>
                
              </div>
            </section>
          </div>

    </section>
  {{> footer}}