{{> header}}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{title}}</h1>
</div>

{{#if message}}
  <p class="alert alert-success">{{message}}</p>
{{/if}}


<div>
  <h3>Welcom {{user.username}}</h3>
</div>


{{> footer}}